@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.timeline {
    width: 800px;
    height: auto;
    margin: 50px auto 0;
    padding: 20px;
    box-sizing: border-box;
}
.timeline li {
    position: relative;
    list-style: none;
}
.timeline li .item {
    position: relative;
    min-height: 60px;
    /* background: #ccc; */
    padding: 0 20px 20px 30px;
    margin-left: 20px;
    border-left: 1px solid #262626;
}
.timeline li:last-child .item {
    border-left: 1px solid transparent;
}
.timeline li .item span {
    position: absolute;
    top: -8px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #262626;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
}
.timeline li:hover .item span {
    background: #F41473;
}
.timeline li .item h3,
.timeline li .item p {
    margin: 0;
    padding: 0;
}